<!-- Código de HTML que muestra la información provista por la ruta  -->

<!--
Extiende el archivo `views/layout.hbs` por lo tanto no es necesario incluir
<head></head> o <body></body> en este archivo. Revise el archivo del layout
para una mejor explicación
 -->

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/gatos">GATOS</a>

<p>{{saludo}}</p>

<p>{{numero}}</p>
