body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
  color: MidnightBlue;
  font:30px "Helvetica";
}

h2{
  color: RoyalBlue;
  font:20px "Helvetica";
}


a {
  color: #00B7FF;
}
